{% extends 'index.html' %}
{% block content %}
    <section>
        <div class="section-info-block">
            <h2>{{ disciplines.name }}</h2>
            <h3>{{ disciplines.text }}</h3>
        </div>
    </section>
{% endblock %}