{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=`, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LGPU</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="{% static 'js/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'font/Gothic/stylesheet.css' %}" />
</head>
<body></body>
<header class="header" id="header">
  <div class="logo-site">
    <img class="logo-site__img" src="{% static 'img/logosvg.svg' %}" alt="" />
    <h1 class="logo-site__title">Логотип</h1>
  </div>
  <nav class="logo-site__nav">
    <a class="nav__item" href="{% url 'index' %}">Главная</a>
    <a class="nav__item" href="#conf">Конференции</a>
    <a class="nav__item" href="#Employment">Трудоустройство</a>
    <a class="nav__item" href="#timetable">Расписание</a>
  </nav>
</header>
<section class="section-title">
  <div class="line"></div>
  <h1 class="section-title__title">
    IT-Конференции с трудоустройством
  </h1>
  <a class="section-title__btn" href="{% url 'learn_more' %}">Узнать подробности</a>
</section>
{% block content %}
<section class="section-info-block">
    {% for article in articles %}
        <div class="section-info-block__item-block">
        {% if article.image %}
            <img class="item-block__img" src="{{ article.image.url }}" alt="" /> {% endif %}
            <h3 class="item-block__title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
            <div class="item-block__line"></div>
            <p class="item-block__text">{{ article.text|truncatewords:20 }}</p>
        </div>
    {% endfor %}
</section>
{% block foot %}
<section id="conf" class="learn">
  <div class="disigner-pidor">
    <div class="vertical-line"></div>
    <div class="red-block"></div>
  </div>
{% endblock %}
  <div class="learn-main">
    <div class="line"></div>
    <h3 class="tiile-section">Изучаемые предметы</h3>
    <p class="pols-section">Список может дополняться в будущем</p>
    <div class="learn-main__blocks-link">
        {% for discipline in disciplines %}
            <a href="{{ discipline.get_absolute_url }}" class="blocks-link__item">
                <p class="locks-link__item__title">{{ discipline.name }}</p>
                <img class="locks-link__item__img" src="{% static 'img/Arrow-rightsvg.svg' %}" alt="" />
            </a>
        {% endfor %}
    </div>
  </div>
</section>

<section class="Employment">
  <div class="center-line">
    <div class="center-line__img"></div>
  </div>
  <div id="Employment" class="Employment-main">
    <div class="line"></div>
    <h3 class="tiile-section">Трудоустройство</h3>
    <p class="pols-section">Возможность попасть на работу в администрацию</p>
    <div class="Employment-main__blocs-img">
      <img class="blocs-img__big-img" src="{% static 'img/arta.jpg' %}" alt="" />
      <div class="blocs-img__wrapper-img">
        <img class="wrapper-img__smal-img" src="{% static 'img/cat.jpg' %}" alt="" />
        <img class="wrapper-img__smal-img" src="{% static 'img/dog.jpg' %}" alt="" />
      </div>
    </div>
    <div class="Employment-main__blocs-info">
      <div class="blocs-info__item">
        <h4 class="blocs-info__item__title">Как попасть на работу</h4>
        <p class="blocs-info__item__text">
          По окончании курса лекций Вам будет предложено сделать первый проект самостоятельно.
            Первые пять человек, набравшие наибольшие баллы, попадут на стажировку в Администрацию Липецкой области.
        </p>
      </div>
      <div class="blocs-info__item">
        <h4 class="blocs-info__item__title">Почему так?</h4>
        <p class="blocs-info__item__text">
          Это сделано для того, чтобы Вы смогли выдать свой максимум, проявить себя. К тому же, такая система позволит
            Вам максимально быстро влиться в рабочий ритм и освоиться на новом месте.
        </p>
      </div>
      <div class="blocs-info__item">
        <h4 class="blocs-info__item__title">Преимущества</h4>
        <p class="blocs-info__item__text">
          Всем, кто посещал курс лекций, будет выдан сертификат о прохождении IT-конференции, который даст
            Вам преимущество при последующем трудоустройстве в любой IT-компании.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="timetable">
  <div class="center-line">
    <div class="center-line__img"></div>
  </div>
  <div class="line"></div>
  <h3 id="timetable" class="tiile-section">Расписание конференций</h3>
  <p class="pols-section">Список может изменяться</p>

  <div class="wrapper-timetable">
  {% for month in months %}
    <p class="pols-section">{{ month }}</p>
    <div class="wrapper-timetable-blocks">
        {% for lection in month.lect_on_month %}
            <div class="wrapper-timetable-blocks__item-timetable">
                <div class="item-timetable__left">
                    <p class="item-timetable__left__theme"><a href="{{ lection.name.get_absolute_url }}">{{lection.name.name}}</a></p>
                    <p class="item-timetable__left__time">{{ lection.time_start }} - {{ lection.time_finish }}</p>
                </div>
                <p class="item-timetable__number">{{ lection.data }}</p>
            </div>
        {% endfor %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
</section>

<section class="reg">
  <div class="line"></div>
  <h3 class="tiile-section">Зарегистрироваться</h3>
  <p class="pols-section">Мы напомним вам о лекциях</p>
  <form class="form-reg" action="">
    <div class="form-reg__wrapper-inp">
      <input required type="text" placeholder="Ваше имя" />
      <input required type="email" placeholder="Почта" />
    </div>
    <input class="form-reg__submit" type="submit" value="Регистрация" />
  </form>
</section>
<footer class="footer">
  <p>Обу ИТЦ</p>
  <p>ЛГПУ</p>
</footer>

</html>