{% extends 'index.html' %}
{% block content %}
    <section>
        <div class="section-info-block">
            <h2><p>Разработка языка Python была начата в конце 1980-х годов сотрудником
                голландского института CWI Гвидо ван Россумом. Для распределённой ОС Amoeba требовался
                расширяемый скриптовый язык, и Гвидо начал писать Python на досуге, позаимствовав некоторые наработки
                для языка ABC (Гвидо участвовал в разработке этого языка, ориентированного на обучение
                программированию). В феврале 1991 года Гвидо опубликовал исходный текст в
                группе новостей alt.sources. С самого начала Python проектировался как
                объектно-ориентированный язык.</p>
                <p>Наличие дружелюбного, отзывчивого сообщества пользователей считается наряду с дизайнерской
                    интуицией Гвидо одним из факторов успеха Python. Развитие языка происходит согласно чётко
                    регламентированному процессу создания, обсуждения, отбора и реализации документов PEP
                    (англ. Python Enhancement Proposal) — предложений по развитию Python.</p>
            </h2>
        </div>
    </section>
{% endblock %}
{% block foot %}
<p></p>
{% endblock %}